Source: safecoin
Section: utils
Priority: optional
Maintainer: Safecoin <fair-exchange@protonmail.com>
Homepage: https://safecoin.org
Build-Depends: build-essential, pkg-config, libc6-dev, m4,
 g++-multilib, autoconf, libtool, ncurses-dev,
 unzip, git, python, python-zmq,
 zlib1g-dev, wget, libcurl4-openssl-dev, bsdmainutils,
 automake, curl, openssl
Vcs-Git: https://github.com/fair-exchange/safecoin.git
Vcs-Browser: https://github.com/fair-exchange/safecoin

Package: safecoin
Architecture: amd64
Depends: ${shlibs:Depends}
Description: HTTPS for money.
 Based on Bitcoin's code, it intends to offer a far higher standard
 of privacy and anonymity through a sophisticiated zero-knowledge
 proving scheme which preserves confidentiality of transaction metadata.
 This package provides the daemon, safecoind, and the CLI tool,
 safecoin-cli, to interact with the daemon.
